{% extends 'base.html' %}
{% block title %}
about page
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5t9XQDjLzmgmybH9j9zYv/6ET50QaFf7Y5wgM1K5JpamnvR0aZ78q68Zg==" crossorigin="anonymous" />

<section id="about" class="about d-flex align-items-center text-light py-5" id="about" style="background: linear-gradient(to right, #00ABE4, #E9F1FA);">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-7" data-aos="fade-right">
        <p class="main-header-section">ABOUT US</p>
        <h6 class="py-2 para-dark ">
         Welcome to IBlog, your go-to source for insightful and comprehensive information on a wide range of technical topics. We are a passionate team of tech enthusiasts dedicated to providing valuable content for both seasoned professionals and curious learners in the world of technology.
<br><br>
Our Mission:<br>
At IBlog, our mission is to simplify complex technical concepts and make them accessible to everyone. We believe that technology is a powerful tool that, when understood, can empower individuals and businesses alike. Through our articles, tutorials, and guides, we aim to bridge the gap between tech experts and those eager to explore the fascinating world of technology.
        </h6>
        <ul class="social-media-list">
          <li>
            <h5><i class="fab fa-twitter"></i> <a href="https://twitter.com/YourTwitterHandle" target="_blank">Twitter</a></h5>
          </li>
          <li>
            <h5><i class="fab fa-facebook"></i> <a href="https://facebook.com/YourFacebookPage" target="_blank">FacebookPage</a></h5>
          </li>
          <li>
            <h5><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/company/YourLinkedInPage" target="_blank">YourLinkedInPage</a></h5>
          </li>
        </ul>
        <a class="btn bg-white" href="about.html">Learn More</a>
      </div>
   <div class="col-lg-5 text-center py-4 py-sm-4" data-aos="fade-down">
    <img class="" src="https://plus.unsplash.com/premium_photo-1681755915233-9acafb348a7f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="about" height="400" width="500">
</div>


    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</section>
{% endblock body %}
